/* CSS files add styling rules to your content */

body {
  margin: 0em;
}

.cover {
  
  height:400px;
  background-image:url(https://cdn.glitch.com/36a50085-aa90-4545-a531-28afd83b6a6b%2Frsz_1adam-winger-fkazqqjtbxm-unsplash.jpg?v=1618721610201);
  color:white;
  background-size: cover;
  background-position:center;
  background-color:rgba(0,0,0,0.6);
  background-blend-mode: darken;
  
  
  
}