/* CSS files add styling rules to your content */

body {
  margin: 0em;
  font-family: 'Noto Sans', sans-serif;
  background-color: #f6fafb;


}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fjalla One', sans-serif;
}


.cover {

  height: 400px;
  background-image: url(https://cdn.glitch.com/36a50085-aa90-4545-a531-28afd83b6a6b%2Frsz_1adam-winger-fkazqqjtbxm-unsplash.jpg?v=1618721610201);
  color: white;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;

}

.cover-small {
  height: 200px;
  background-blend-mode: normal;
}

.slider {
  max-width: max-content;
  display: flex;

}

.slider .card {
  flex: 1;
  margin: 0 10px;
  background: #fff;


}

.slider .card .img {
  height: 200px;
  width: 100%;
}

.slider .card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slider .card .content {
  padding: 10px 20px;

}

.card .content .title {
  font-size: 25px;
  font-weight: 600;
}

.card .content .sub-title {
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}

.card .content p {
  text-align: justify;
  margin: 10px 0;
}

.card .content .btn {
 
  display: block;
  text-align: center;
  border: white;
  background-color: white;
  
}
.card .content .botonwhatsapp {
 
justify-content: right;
  
}

.card .content .btn button {

  background-image: url('img/BOTON-WHATSAPP.png');
  background-position: center;
  height: 100px;
  width: 260px;


}

.card .content .btn button:hover {
  transform: scale(0.9);
}

.alo {
  width: 100%;
}

.botonwhatsapp a{
  justify-content: center;
  width:200px;

}


@keyframes slider2 {
  0% {
    transform: translateX(0);

  }

  20% {
    transform: translateX(0)
  }

  25% {
    transform: translateX(-100%)
  }


  45% {
    transform: translateX(-100%)
  }

  50% {
    transform: translateX(-200%)
  }

  70% {
    transform: translateX(-200%)
  }

  75% {
    transform: translateX(-300%)
  }

  95% {
    transform: translateX(-300%)
  }

  100% {
    transform: translateX(0)
  }

}


.nav-link active {

  color: white;
  font-family: 'Fjalla One', sans-serif;
}



footer {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: #202020;
  color: white;
  width: 100%;


}

.container-footer-all {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding: 40px;
}

.container-body {
  display: flex;
  justify-content: space-between;


}

.column1 {
  max-width: 400px;
}

.column1 h1 {
  font-size: 22px;

}

.column1 p {
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;

}

.column2 {
  max-width: 400px;

}

.column2 h1 {
  font-size: 22px;

}

.column2 .roww {
  margin-top: 20px;
  display: flex;
}

.roww img {
  width: 36px;
  height: 36px;

}

.roww label {
  margin-top: 10px;
  margin-left: 15px;
  color: #C7C7C7;

}

.column3 {
  max-width: 400px;

}

.column3 h1 {
  font-size: 22px;
}

.roww2 {
  margin-top: 20px;
}

.column3 .roww2 {
  margin-top: 20px;
  display: flex;
}

.roww2 img {
  width: 36px;
  height: 36px;

}

.roww2 label {
  margin-left: 15px;
  color: #C7C7C7;
  max-width: 220px;
  margin-top: 5px;
}

.container-footer {
  width: 100%;
  background: #101010;

}

.footerr {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px;

}

.copyright {
  color: #C7C7C7;
}

.copyright a {
  text-decoration: none;
  color: white;
  font-weight: bold;

}

.politicas {
  text-decoration: none;
  color: #C7C7C7;

}

.politicas a {
  text-decoration: none;
  color: #C7C7C7;
  font-weight: bold;

}

@media screen and (max-width: 1100px) {
  .container-body {
    flex-wrap: wrap;
  }

  .column1 {
    max-width: 100%;
  }

  .column2,
  .column3 {
    margin-top: 40px;
  }
}


.titular {
  background-color: #db879d;

}

nav.navbar-dark {
  background-color: #db879d !important;
}


.titular2 {
  background-color: #f6fafb
}

.test{

}